* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#toggle-panel {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("cog.svg");
    border: none;
}

#settings-panel {
    position: absolute;
    width: 200px;
    top: 20px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #4c566aaa;
    border-radius: 5px;
    background-color: #d8dee9aa;
    color: #2e3440;
    box-shadow: 2px 2px 2px #00000022;
}

button {
    color: #2e3440;
    width: 100%;
}

input {
    width: 100%;
}
